/* Les googles fonts */

@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://use.typekit.net/owd7oyt.css");
* {
  box-sizing: border-box;
}

/*-- Classe Basique --*/

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  background-color: #f0f1f5;
}

main {
  width: 80%;
  margin: 5% auto;
}

.btn-liens {
  margin-top: 28%;
  flex-basis: 25%;
  font-size: 2em;
  text-decoration: none;
  text-align: center;
  color: #fff;
  transition: all 500ms ease;
}

header {
  width: 100%;
  height: 70px;
  background-color: #ff6646;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2em;
  background-color: #222;
  color: #fff;
}

/*- Logo -*/

.logo a h1 {
  margin-left: 3%;
  width: 50%;
  display: flex;
  align-items: center;
  font-size: 1em;
  color: #ffffff;
  font-family: neue-haas-grotesk-display, sans-serif;
  transition: all 300ms ease;
}

.logo a h1:hover {
  color: #fff;
}

.logo a h1 div {
  display: flex;
  align-items: center;
  flex-basis: 17%;
  margin-right: 3px;
}

.media-fluide {
  width: 100%;
  height: auto;
}

/*- Icones -*/

.btn-menu {
  width: 100%;
}

.btn-cancel {
  width: 100%;
}

.btn-disconnect {
  width: 50%;
  margin: 0 auto;
  padding: 10px;
  border-radius: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*- Awesome icons -*/

.fa-bars {
  margin-right: 2%;
  float: right;
  color: #ffffff;
  font-size: 2em;
  cursor: pointer;
  transition: all 300ms ease;
}

.fa-bars:hover {
  color: #fff;
}

.fa-chevron-up {
  position: fixed;
  margin: 5px 95%;
  bottom: 3vh;
  left: 0;
  color: #ff6646;
  font-size: 2em;
  cursor: pointer;
}

.fa-times {
  margin: 5px 5%;
  float: right;
  color: #fff;
  font-size: 2.5em;
  cursor: pointer;
  transition: all 300ms ease;
}

/*- Menu -*/

nav {
  display: none;
  position: fixed;
  z-index: 1000;
  top: 0;
  right: 0;
  width: 25%;
  height: 100vh;
  border-right: 1px solid;
  width: 25%;
  background-color: #ff6646;
  transition: all 500ms ease;
}

.menu {
  z-index: 100;
  display: block;
  width: 90%;
  margin: 125px auto;
  list-style: none;
}

li {
  display: block;
}

.line {
  margin-top: 0;
  border-bottom: 2px solid #fff;
  display: block;
}

.menu a {
  font-size: 1.8em;
  display: block;
  text-decoration: none;
  margin-bottom: 6%;
  margin-top: 4%;
  text-align: center;
  color: #fff;
  padding: 10px;
  transition: all 300ms ease;
}

.nav-appear {
  transform: translateX(0);
}

.show-box {
  opacity: 1;
}

/*--------------Espace barre de recherche--------------*/
.recherche-container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 5%;
}

input[type="search"] {
  width: 45%;
  padding: 12px;
  border: none;
  border-radius: 5px;
  box-sizing: border-box;
  resize: vertical;
  background: #f0f1f5;
  box-shadow: inset 5px 5px 10px #d8e0eb, inset -5px -5px 10px #ffffff;
}

.btn-recherche {
  margin-left: 1%;
  border-radius: 80px;
  padding: 10px 20px;
  cursor: pointer;
  border: none;
  color: #ff6646;
  background: #f0f1f5;
  box-shadow: 5px 5px 10px #d8e0eb, -5px -5px 10px #ffffff;
}

/*--------------Espace du feed projet------------------*/
.feed-project {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.projet {
  flex-basis: 24%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
  border-radius: 10px;
  width: 200px;
  height: 200px;
  margin-bottom: 2%;
}

.projet-infos {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  opacity: 0;
  background-color: #ff6646;
  color: #fff;
  padding: 8px;
  transition: opacity 250ms ease;
}

.projet-infos:hover {
  opacity: 0.8;
}

.projet-infos p {
  overflow: hidden;
  text-overflow: ellipsis;
}

.bas-de-page-static {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  height: 10vh;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #f0f1f5;
}

.btn-publier-projet {
  border-radius: 80px;
  padding: 20px 60px;
  width: 20%;
  font-size: 1.2em;
  cursor: pointer;
  border: none;
  color: #f0f1f5;
  background: #ff6646;
}


/*-------------Espace du formulaire (pop-up) de publication de projet------------------*/
.container-container {
  background-color: rgba(34, 34, 34, 0.3);
  z-index: 100;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

.form-publication {
  background-color: #f0f1f5;
  padding: 3%;
  border-radius: 10px; 
  position: relative;
}

.logo-formulaire {
  width: 100%;
  justify-content: center;
  align-content: center;
  margin-bottom: 8%;
  
}

.logo-formulaire a h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2em;
  color: #ff6646;
  font-family: neue-haas-grotesk-display, sans-serif;
  transition: all 300ms ease;
  
}

.logo-formulaire a h1 div {
  display: flex;
  align-items: center;
  flex-basis: 10%;
  margin-right: 3px;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 15px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 15px;
}

.media-choix {
  display: flex;
  justify-content: space-between;
}

input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 5px;
  box-sizing: border-box;
  resize: vertical;
  background: #f0f1f5;
  box-shadow: inset 5px 5px 10px #d8e0eb, inset -5px -5px 10px #ffffff;
}

/*-------------Espace du post détails------------------*/
.show-project-container {
  width: 70%;
  height: 60%;
  padding: 2%;
  background-color:#f0f1f5;
  border-radius: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #ff6646;
  overflow-y: hidden;
  position: relative;
}

.show-project-container div a {
  color: #ff6646;
  text-decoration: none;
}

.half-item {
  flex-basis: 48%;
}

.creator-infos {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.img-profil {
  flex-basis: 20%;
}

.user-name {
  flex-basis: 77%;
}

.post-content {
  width: 100%;
}

.like-section {
  margin-top: 15%;
  display: flex;
  justify-content: space-between;
}

.like-section p {
  flex-basis: 91%;
}

.img-like {
  flex-basis: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fa-heart {
  color: #ff6646;
  font-size: 2em;
  cursor: pointer;
}

.btn-x {
  position: absolute;
  top: 2%;
  right: 2%;
}

.btn-x .fa-times {
  color: #ff6646;
}


