.offer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    margin: 2% auto;
    border-radius: 50px;
    overflow: hidden;
    border: 3px solid #ff6646;
    padding: 3%;
    color: #ff6646;
    cursor: pointer;
    transition: 250ms ease all;
}

.offer:hover {
    background-color: #ff6646;
    color: #f0f1f5;
}

.col-25 {
    flex-basis: 15vw;
    border: 3px solid #ff6646;
    height: 15vw;
    background-position: center;
    border-radius: 25px;
    overflow: hidden;
    background-size: cover;
}

.col-75 {
    flex-basis: 74%;
}

/*----- Espace Responsive -----*/
@media screen and (max-width: 900px) {
    .col-25 {
        flex-basis: 80vw;
        height: 80vw;
    }
}