.profil {
    width: 80%;
    margin: 2% auto;
    display: flex;
    justify-content: space-between;
}

.col-30 {
    flex-basis: 20%;
}

.col-70 {
    flex-basis: 70%;
}

.infos-profil {
    border-bottom: 2px #ff6646 solid;
    color: #ff6646;
}

/*----- Espace Responsive -----*/
@media screen and (max-width: 900px) {

    .profil {
        display: block;
    }

    .col-30 {
        width: 70%;
        margin: auto;
    }
}

