@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    background-color: #444444;
}

header {
    background-color: #222;
    color: #fff;
    height: 200px;
    font-size: 1.4em;
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    color: #fff;
    text-decoration: none;
}

footer {
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
    background-color: #222;
    color: #fff;
}

.container {
    position: absolute;
    width: 100%;
}

label {
    font-size: 1.3em;
}

select {
    appearance: none;
    background-color: transparent;
    border: none;
    padding: 2% 1%;
    margin: 2%;
    width: 20%;
    font-size: 1.2em;
    cursor: pointer;
    line-height: inherit;
    border-radius: 9px;
    background: #444444;
    color: #ff481f;
    box-shadow: 5px 5px 10px #3b3b3b, -5px -5px 10px #4d4d4d;
}

.container-form {
    width: 50%;
    display: block;
    margin: 8% auto;
    padding: 20px;
    border: 1px solid #000;
    background-color: #666;
}

.container-select {
    width: 50%;
    display: block;
    margin: 8% auto;
    padding: 20px;
    border-radius: 9px;
    background: #444444;
    box-shadow: 10px 10px 20px #3b3b3b, -10px -10px 20px #4d4d4d;
}

.form-box {
    background-color: #444;
    padding: 20px;
}


/* Radio button */

.radio-btn input[type="radio"] {
    display: block;
    font-size: 10em;
}


/*-- Avatar box --*/

.container-avatar {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    margin: 8% auto;
    padding: 20px;
    border-radius: 9px;
    background: #444444;
    box-shadow: 10px 10px 20px #3b3b3b, -10px -10px 20px #4d4d4d;
}

.avatar-box {
    padding: 2px;
}

.neumorphisme-box {
    flex-basis: 20%;
    margin: 10px auto;
    padding: 10px;
    border-radius: 9px;
}

.neumorphisme-box img {
    border-radius: 4px;
    padding: 10px;
    width: 100%;
    height: auto;
}

.neumorphisme-box input[type="radio"]:checked+label img,
input[type="radio"]:not(:checked) {
    background: linear-gradient(#2e2e2e, #3e3e3e);
}

.neumorphisme-box input[type="radio"] {
    width: 100%;
    display: none;
}


/*-- Classe pour le feed --*/

.content {
    width: 90%;
    padding: 10px;
    margin: 5% 5%;
    display: flex;
    justify-content: space-around;
}


/*-- Classe vidéo --*/

.youtube-responsive {
    position: relative;
    flex-basis: 50%;
    padding-bottom: 56.25%;
    height: 0;
}

iframe {
    border: #2e2e2e 4px solid;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


/*-- Classe image --*/

.conteneur-vignette {
    position: relative;
    flex-basis: 50%;
}

.media-fluide {
    width: 100%;
    height: auto;
}