@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    background-color: #444444;
}

header {
    background-color: #222;
    color: #fff;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    position: absolute;
    width: 100%;
}

label {
    font-size: 1.3em;
}

select {
    appearance: none;
    background-color: transparent;
    border: none;
    padding: 2% 1%;
    margin: 2%;
    width: 20%;
    font-size: 1.2em;
    cursor: pointer;
    line-height: inherit;
    border-radius: 9px;
    background: #444444;
    color: #ff481f;
    box-shadow: 5px 5px 10px #3b3b3b, -5px -5px 10px #4d4d4d;
}

.container-form {
    width: 50%;
    display: block;
    margin: 8% auto;
    padding: 20px;
    border: 1px solid #000;
    background-color: #666;
}

.container-select {
    width: 50%;
    display: block;
    margin: 8% auto;
    padding: 20px;
    border-radius: 9px;
    background: #444444;
    box-shadow: 10px 10px 20px #3b3b3b, -10px -10px 20px #4d4d4d;
}

.form-box {
    background-color: #444;
    padding: 20px;
}


/* Avatar box */

.container-avatar {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    margin: 8% auto;
    padding: 20px;
    border-radius: 9px;
    background: #444444;
    box-shadow: 10px 10px 20px #3b3b3b, -10px -10px 20px #4d4d4d;
}

.avatar-box {
    padding: 2px;
}

.neumorphisme-box {
    flex-basis: 20%;
    margin: 10px auto;
    padding: 10px;
    border-radius: 9px;
}

.neumorphisme-box img {
    border-radius: 4px;
    padding: 10px;
    width: 100%;
    height: auto;
}

input[type="radio"]:checked+label img {
    box-shadow: inset -20px -20px 60px #2e2e2e, inset 20px 20px 60px #3e3e3e;
}